@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 40, 219, 20;
    --background-end-rgb: 31, 108, 63;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 255, 255, 255;
        --background-end-rgb: 31, 108, 63;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background-color: rgb(
        var(--background-start-rgb)
    ); /* Couleur d'arrière-plan par défaut */
}

.gradient-background {
    min-height: 100vh;
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.kl-grid-item {
    transition: transform 0.5s ease-in-out;
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 10px 0;
    align-self: start;
    margin-bottom: 1rem;

    @media (min-width: 1025px) {
        width: calc(80%);
        margin: 25px;
    }

    @media (max-width: 1023px) and (min-width: 641px) {
        width: calc(100%);
    }
}

.kl-grid-item .image {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

.image-container {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    border-radius: 1rem;

    @media (max-width: 1024px) {
        height: 300px;
    }
}

.paire {
    height: 300px;
    max-height: 75vh;
}

.description {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    min-height: 2rem;
    padding-top: 0.5rem;

    @media (min-width: 641px) {
        font-size: 1.4rem;
    }
}

@media (max-width: 640px) {
    .kl-grid-item {
        transform: translateY(0);
    }

    .flex.w-full {
        flex-direction: column;
        align-items: center;
    }
}

.section {
    @media (min-width: 1024px) {
        display: flex;
    }
    flex-direction: column;
    width: 100%;
}

.section > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

@media (min-width: 641px) and (max-width: 1024px) {
    .section {
        flex-direction: row;
    }
}

.organigramme-scrollbar::-webkit-scrollbar-track {
    background: rgb(133, 205, 128); /* Couleur de fond de la piste */
    border-radius: 4px;
    width: 8px;
}

.organigramme-scrollbar::-webkit-scrollbar-thumb {
    background: #888; /* Couleur de la poignée de la scrollbar */
    border-radius: 4px; /* Arrondi de la poignée */
}

.organigramme-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur de la poignée au survol */
}

.organigramme-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #fa0202 #f1f1f1; /* Couleur de la poignée et de la piste */
}
